### Gradle ###
.gradle
build

### IDEA ###
*.iml

### Run Configuration ###
/.idea/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/*

### Docker ###
/docker/mongo-volume/
/docker/grafana-volume/
/docker/kafka-volume/
/docker/prometheus-volume/
/docker/zookeeper-volume/
