### Gradle ###
.gradle
build

### IDEA ###
*.iml

### Logs ###
logs

### Prometheus and Grafana ###
/resources/metrics/grafana
/resources/metrics/prometheus

### Run Configuration ###
/.idea/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/*

# Docker
resources/docker/mongo-volume