### Gradle ###
.gradle
build

### IDEA ###
*.iml

### Logs ###
logs

### Run Configuration ###
/.idea/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/*

### Docker ###
/resources/docker/mongo-volume
/resources/docker/zk-single-kafka-single/
